WekaDBApi/WekaDBApi/xml-resources/axis2/META-INF/DataAccess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservice/dbapi/weka/ftj/agh/edu/pl/" xmlns:ns1="http://webservice/dbapi/weka/ftj/agh/edu/pl/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://core.dbapi.weka.ftj.agh.edu.pl/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice/dbapi/weka/ftj/agh/edu/pl/">
    <wsdl:types>
        <xs:schema xmlns:ax21="http://core.dbapi.weka.ftj.agh.edu.pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.dbapi.weka.ftj.agh.edu.pl/xsd">
            <xs:complexType name="DSApiEnums">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://webservice/dbapi/weka/ftj/agh/edu/pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice/dbapi/weka/ftj/agh/edu/pl/xsd">
            <xs:element name="setDataSource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSourceType" nillable="true" type="ns0:DSApiEnums"/>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setDataSourceRequest">
        <wsdl:part name="parameters" element="ns1:setDataSource"/>
    </wsdl:message>
    <wsdl:portType name="DataAccessPortType">
        <wsdl:operation name="setDataSource">
            <wsdl:input message="axis2:setDataSourceRequest" wsaw:Action="urn:setDataSource"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataAccessSOAP11Binding" type="axis2:DataAccessPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setDataSource">
            <soap:operation soapAction="urn:setDataSource" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataAccessSOAP12Binding" type="axis2:DataAccessPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setDataSource">
            <soap12:operation soapAction="urn:setDataSource" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DataAccessHttpBinding" type="axis2:DataAccessPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="setDataSource">
            <http:operation location="DataAccess/setDataSource"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setDataSource"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataAccess">
        <wsdl:port name="DataAccessSOAP11port_http" binding="axis2:DataAccessSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>
        <wsdl:port name="DataAccessSOAP12port_http" binding="axis2:DataAccessSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>
        <wsdl:port name="DataAccessHttpport" binding="axis2:DataAccessHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
