xml-resources/axis2/META-INF/DataAccess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservice/dbapi/datamining/ftj/agh/edu/pl/" xmlns:ns1="http://core.dbapi.datamining.ftj.agh.edu.pl/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://webservice/dbapi/datamining/ftj/agh/edu/pl/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice/dbapi/datamining/ftj/agh/edu/pl/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://webservice/dbapi/datamining/ftj/agh/edu/pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice/dbapi/datamining/ftj/agh/edu/pl/xsd">
            
                <xs:complexType name="getData">
                    <xs:sequence>
                        <xs:element minOccurs="1" name="id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="1" name="table" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            
            
                <xs:complexType name="getDataResponse">
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            
            
                <xs:complexType name="getDataSourcesResponse">
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:BasicConfigurationDataSourceModel"/>
                    </xs:sequence>
                </xs:complexType>
            
        </xs:schema>
        <xs:schema xmlns:ax21="http://core.dbapi.datamining.ftj.agh.edu.pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.dbapi.datamining.ftj.agh.edu.pl/xsd">
            <xs:complexType name="BasicConfigurationDataSourceModel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="database" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayedName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tables" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDataRequest">
        <wsdl:part name="parameters" element="ns:getData"/>
    </wsdl:message>
    <wsdl:message name="getDataResponse">
        <wsdl:part name="parameters" element="ns:getDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getDataSourcesRequest"/>
    <wsdl:message name="getDataSourcesResponse">
        <wsdl:part name="parameters" element="ns:getDataSourcesResponse"/>
    </wsdl:message>
    <wsdl:portType name="DataAccessPortType">
        <wsdl:operation name="getData">
            <wsdl:input message="axis2:getDataRequest" wsaw:Action="urn:getData"/>
            <wsdl:output message="axis2:getDataResponse" wsaw:Action="urn:getDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDataSources">
            <wsdl:input message="axis2:getDataSourcesRequest" wsaw:Action="urn:getDataSources"/>
            <wsdl:output message="axis2:getDataSourcesResponse" wsaw:Action="urn:getDataSourcesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataAccessSOAP11Binding" type="axis2:DataAccessPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getData">
            <soap:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataSources">
            <soap:operation soapAction="urn:getDataSources" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!--<wsdl:binding name="DataAccessSOAP12Binding" type="axis2:DataAccessPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getData">
            <soap12:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataSources">
            <soap12:operation soapAction="urn:getDataSources" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>-->
    <wsdl:binding name="DataAccessHttpBinding" type="axis2:DataAccessPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getData">
            <http:operation location="DataAccess/getData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataSources">
            <http:operation location="DataAccess/getDataSources"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getDataSources"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDataSources"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataAccess">
        <wsdl:port name="DataAccessSOAP11port_http" binding="axis2:DataAccessSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>
        <!--<wsdl:port name="DataAccessSOAP12port_http" binding="axis2:DataAccessSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>-->
        <wsdl:port name="DataAccessHttpport" binding="axis2:DataAccessHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DataAccess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
